VITE_BIZPORTAL_API_URL=https://bizportal-core-api-dev.opendata-dga.cloud
VITE_ENVIRONMENT=staging
FORM_CALLBACK_URL=https://test.bizportal.go.th/Finish
Q_SECRET_KEY=7A5E046FCA81867339A6BB651775675B23E1F770419510D8264C5C66063FE2D6
Q_SECRET_IV=39C8D541711670AD8727FE9E1AE4043C
FORM_CONFIG_FILE=form-configs.json
PORT=3000
HOST=127.0.0.1
